
<footer>
    <div id="contact" class="container-fluid">
    <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>   
    <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>       
    <a href="mailto:aweomotunde@gmail.com"><i class="fas fa-envelope"></i></a>        
    <i class="fas fa-phone-alt"></i><span>  08022458666</span>
    </div>
    
        <br>
    Copyright ©️  <%= new Date().getFullYear(); %>
</footer>
</body>
</html>