<%- include("partials/header") -%>
<div>
<img class="poultry" src="../images/poultry2.jpg" alt="poultry2"><span><img class="chicken" src="../images/chicken.jpeg" alt=""></span>
</div>
    <div class="content">
        <p><%- aboutUsContent-%></p>
    </div>


    <!-- Testimonials -->
    <section id="testimonials">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text"> Farm products at its best can only be at LeoAgro.</h2>
        <img class="testimonial-image" src="../images/eggs2.jpg" alt="dog-profile">
        <br> <p class="testimonial-location"><em >Garki, Abuja</em></p>
        </div>
        <div class="carousel-item container-fluid">
        <h2 class="testimonial-text"> I am glad to be a partner with LeoAgro Farms</h2>
        <img class="testimonial-image" src="../images/poultry2.jpg" alt="lady-profile">
        <br> <p class="testimonial-location"><em>Lekki Phase II, Lagos</em></p>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
      </section>
<%- include("partials/footer") -%>